*background :#101421
*overlay0   :#202020
*black      :#2e2e2e
*text       :#fffbf6
*grey       :#373B41
*lightgrey  :#707880
*white      :#e5e9f0
*yellow     :#f6c744
*orange     :#fe640b
*red        :#eb4129
*magenta    :#a47de9
*green      :#abe047
*blue       :#49a4f8
*cyan       :#64dbed
*primary    :#a47de9
