*background :#1a1b26da
*overlay0   :#202020
*black      :#414868
*text       :#c0caf5
*grey       :#373B41
*lightgrey  :#707880
*white      :#c0caf5
*yellow     :#faba4a
*orange     :#fe640b
*red        :#ff899d
*magenta    :#c7a9ff
*green      :#9fe044
*blue       :#8db0ff
*cyan       :#a4daff
