i3wm.background :#1a1b26da
i3wm.overlay0   :#202020
i3wm.black      :#414868
i3wm.text       :#c0caf5
i3wm.grey       :#373B41
i3wm.lightgrey  :#707880
i3wm.white      :#c0caf5
i3wm.yellow     :#faba4a
i3wm.orange     :#fe640b
i3wm.red        :#ff899d
i3wm.magenta    :#c7a9ff
i3wm.green      :#9fe044
i3wm.blue       :#8db0ff
i3wm.cyan       :#a4daff
